body{
    margin:0;
}


main{
display:flex;
flex-direction: row;
flex-wrap: nowrap;
align-items: center;
margin:3rem;

}

img{
    width:30vw;
    height:40vh;
  
}

.text_vnitrek{
font-size:150%;
opacity: 0;
width:60vw;
transition: 2s;
}