* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
  font-family: sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
}

.calc {
  background-color: white;
  padding: 2rem;
  width:20rem;
}

.calc__result {
  text-align: right;
  background-color: gray;
  color: white;
  font-weight: bold;
  padding: 0.5rem;
}

.calc__input {
  display: block;
  width: 100%;
  text-align: right;
  font-weight: bold;
  padding: 0.5rem;
}
.button{
  display: flex;
  flex-direction: row;
  justify-content: center;}


.calc__btn, .clean__btn {
  
  width: 50%;
}