* {
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
}

body {
  background: #555;
}

.chat {
  width: 25rem;
  background: white;
  margin: 4rem auto;
  border-radius: 4px;
  min-height: 4rem;
  padding: 1rem;
}

.message {
  display: flex;
  margin-bottom: 0.5rem;
}

.remote {
  flex-direction: row;
  align-content: center;
}

.local {
  flex-direction: row-reverse;
  align-content: center;
}

.head {
  flex: 0 0 auto;
  width: 3rem;
  height: 3rem;
}

.head > img {
  width: 100%;
  height: auto;
} 

.text {
  flex: 0 0 auto;
  max-width: 14rem;
  padding: 1rem;
  border-radius: 4px;
  margin: 0 0.5rem 0.5rem 0.5rem;
}

.local .text {
  background: blue;
  color: white;
}

.remote .text {
  background: #ddd;
}
.like{
display:flex;
flex-direction: column;
justify-content: space-between;
height:4rem; 
}

img{
  width:2.5rem;
  height:2.5rem;
}