main{
    display:flex;
    justify-content:center;
    align-items: center; 
}



.container{
    display:grid;
    grid-template: repeat(8,10vmin)/repeat(8,10vmin);
    grid-column-gap:0.3em;
    grid-row-gap:0.3em;
    margin:1vw;

    
}
.container .svetly{
    background-color: aliceblue;
    padding:2px;
    border:1px solid black;

}
.container .tmavy{
    background-color: black;
    
    border:1px solid black;
}