*{
    box-sizing: border-box;
  }
  
  html {
    font-family: 'Exo', sans-serif;
    font-size: 18px;
  }
  
  body {
    background-color: #F2F2F2;
  }
  
  .container {
    max-width: 1200px;
    margin: 1rem auto;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    width: 100px;
    height: 100px;
  }
  
  h1 {
    color: #F4A423;
  
    font-weight: 900;
    font-size: 3rem;
  }
  
  nav {
    padding-left: 2rem;
    display:flex    ;
    flex-wrap: no wrap;
    background-color: #435058;
    border-radius: 4px;
    @media screen and (max-width:600px){
        flex-direction: column;
        justify-content: center;
        text-align: left;
    }

  }
  
  nav a {
    display: inline;
  
    margin-right: 2rem;
  
    color: white;
  
    font-weight: bold;
    text-decoration: none;
    line-height: 3rem;
    
  }
  
  nav a:hover {
    color: #F4A423;
    border-bottom: 2px solid #F4A423;
  }
  
  .plans {
    display: flex;
    justify-content: space-between;
    
    margin-top: 2rem;
    @media screen and (max-width:1200px){
        flex-wrap: wrap;
        justify-content: center;
        margin: auto 0.2rem;}

    @media screen and ( max-width:700px){
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width:90%;
            margin:2%;
             
       
        }   
    }
   
    
  
  .card {
    width: calc(25% - 10px);
    padding: 1rem 1.5rem;
    min-width:250px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 2px #aaa;
    
    @media screen and (max-width:1200px){
        flex-wrap: wrap;
        justify-content: center;
        margin: auto 0.2rem;}
      flex-basis: 50%;

    @media screen and (max-width:700px) {
            align-items: stretch;
            width:90%;
            margin:2%;
        
    }
  }
  
  h2 {
    margin: 0;
  
    font-weight: normal;
  }
  
  p {
    margin-bottom: 0;
  }
  
  .price {
    margin-bottom: 1rem;
  
    color: #F4A423;
    
    font-size: 1.6rem;
    font-weight: bold;
  }
  
  button {
    display: block;
  
    width: 100%;
  
    background-color: #D33F49;
    color: white;
    border: none;
    border-radius: 4px;
  
    font-size: 1rem;
    text-align: center;
    line-height: 2rem;
    
    outline: none;
    cursor: pointer;
  }