$content_width:80vw;

html{
    margin:0;
    box-sizing: border-box;
}

body {
    width:$content_width;
    margin:0 auto;
    
    
}
main{
    background-image: url("/img/banner.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    height:80rem;

.navigace{
    justify-self: flex-end;
    display:flex;
    flex-direction:row;
    justify-content:center;
    height: 6rem;
    align-items: center;
    background-color: #343a40;
        div{
          font-size:2rem;
          color:rgba(55, 137, 243, 0.575);
          
          margin-left:1rem;
          margin-right:1rem;
        }

}
}


    

.rada{
    margin-top:2rem;
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;

    .krabice{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items: center;
        height:15em;  
        margin-left:5rem;
        margin-right: 5rem;
        width:10rem;
        .img{
            width:5rem;
            height: 5rem;
        }
}
}
.nadpis{
    font-size:3rem;
}
.obsah{
    font-size:2rem;
}